* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: antiquewhite;
}
h1 {
  color: rgb(10, 132, 240);
  display: inline-block;
  position: relative;
  margin-top: 300px;
}
h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1::before {
  background-color: antiquewhite;
  animation: typewrite 10s steps(42) forwards 2s;
  /* animation-fill-mode: forwards; */
}
h1::after {
  width: 0.02em;
  background-color: red;
  animation: typewrite 10s steps(42) forwards 1.8s, blink 0.75s linear infinite;
}
@keyframes typewrite {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background-color: transparent;
    transform: rotate(360deg);
  }
}
